@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}

/* FF5200 */
/* 1A3263 */

/* ============== */
/* GLOBAL APPLIED */
/* ============== */
:root {
  --orange: #ff5200;
  --blue: #1a3263;
  --white: #f4f5f6;
}
html {
  scroll-behavior: smooth;
}
* {
  font-family: "PoppinsMedium";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
a {
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PoppinsBold";
}
h1 {
  font-size: 48px;
}
h1 mark {
  background-color: transparent;
  font-family: "PoppinsBold";
  color: var(--orange);
}

/* ============= */
/* CLASS APPLIED */
/* ============= */

/* NAVBAR */
nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px;
  display: flex;
  z-index: 100;
  transition: background-color 150ms, box-shadow 150ms;
}
nav.navbar ul {
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
  display: flex;
  list-style-type: none;
  justify-content: center;
}
nav.navbar a {
  font-family: "PoppinsBold";
  color: white;
  transition: color 150ms;
}
nav.navbar a:hover {
  color: white;
}
nav.navbar a#active {
  color: white;
}
nav.navbar a#right {
  position: absolute;
  right: 25px;
}
nav.navbar ul a {
  color: rgba(255, 255, 255, 0.4);
}
nav.navbar ul li a {
  display: block;
  padding: 10px 25px;
}
nav.navbar.active {
  background-color: var(--blue);
  box-shadow: 0 5px 15px 10px rgba(0, 0, 0, 0.2);
}

/* BUTTON */
.button {
  display: block;
  color: white;
  font-family: "PoppinsBold";
  transition: background-color 150ms, color 150ms;
  border: none;
  transition: background-color 150ms;
}
.button.button-1 {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 45px;
  border-radius: 30px;
}
.button.button-1:hover {
  background-color: rgba(255, 255, 255);
  color: black;
}
.button.button-1.button-orange {
  background-color: var(--orange);
}
.button.button-1.button-orange:hover {
  color: white;
  background-color: #d64c0c;
}

/* SECTION */
.section {
  position: relative;
  padding: 125px 25%;
}
.section.section-wider {
  padding: 125px 10%;
}
.section.center {
  text-align: center;
}
.section.section-white {
  background-color: var(--white);
  color: var(--blue);
}
.section.section-blue {
  background-color: var(--blue);
}
.section.section-orange {
  background-color: var(--orange);
}
.section.section-blue span.section-title,
.section.section-orange span.section-title {
  color: white;
}
.section span.section-title {
  font-family: "PoppinsBold";
  font-size: 35px;
}
.section span.indexing-full {
  color: var(--orange);
}

/* NAVIGATION */
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--blue);
  padding: 5px;
  border-radius: 50px;
  text-align: center;
}
.navigation a {
  display: block;
  padding: 5px 25px;
  border-radius: 50px;
  color: white;
  font-family: "PoppinsBold";
  transition: background-color 150ms;
}
.navigation .active {
  background-color: var(--orange);
}
.tabcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: tabContent 1s;
}
@keyframes tabContent {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* CARD */
.card {
  border-radius: 30px;
  padding: 25px;
}
.card.card-left {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.card.card-white {
  background-color: rgba(255, 255, 255);
  color: var(--blue);
}
.card.card-white-trans {
  padding-top: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.card .card-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}
.card .card-inline span {
  font-family: "PoppinsBold";
  margin: 0 10px;
}
.card p {
  margin: 5px 0 25px 0;
  color: rgba(0, 0, 0, 0.4);
}
.card.card-white-trans p {
  margin-top: 0;
  color: rgba(255, 255, 255, 0.4);
}
.card input {
  width: 100%;
}
.card span.card-title {
  font-size: 20px;
  font-family: "PoppinsBold";
}
.card span.indexing {
  margin-bottom: 10px;
}
.card span.indexing-full {
  margin-bottom: 10px;
}
.card.card-text-white {
  color: white;
}
.card.card-text-white p {
  color: rgba(255, 255, 255, 0.6);
}
.card.card-blue {
  background-color: var(--blue);
}
.card.card-blue span.card-title {
  color: white;
}
.card.card-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* INPUT */
input[type="text"] {
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.4);
  padding: 7.5px 20px;
  border: none;
  border-radius: 50px;
}

/* FLEX */
.flex {
  display: flex;
}
.flex.flex-center {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex.flex-row {
  /* flex-direction: row; */
}
.flex.flex-left {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.image-flex {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.image-flex img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 30px;
  margin: 10px;
}

/* GRID */
.grid {
  display: grid;
  width: 100%;
}
.grid.col {
  grid-template-columns: auto;
}
.grid.col.col-2 {
  grid-template-columns: 50% 50%;
}
.grid.col.col-3 {
  grid-template-columns: 33% 33% 33%;
}
.grid .card {
  margin: 5px;
}

/* MARGIN */
.mg-top-50 {
  margin-top: 50px;
}
.mg-top-bottom-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* ==== */
/* MISC */
/* ==== */
.splide.testimony {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}
.splide.testimony ul.splide__list {
  height: auto;
}
.splide.testimony .splide__pagination {
  bottom: 0;
}
.testimony {
  position: relative;
}
.testimony .testy-grid {
  padding: 25px;
  display: grid;
  grid-template-columns: 250px auto;
  column-gap: 45px;
  color: white;
}
.testimony .testy-grid #author {
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 25px;
  border-radius: 30px;
}
.testimony .testy-grid #author span {
  color: rgba(255, 255, 255, 0.6);
}
.testimony .testy-grid #author .bold {
  font-family: "PoppinsBold";
  color: white;
}
.testimony .testy-grid p#quote {
  font-size: 35px;
  font-family: "PoppinsBold";
}
.testimony .testy-grid img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
span.indexing {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.4);
  font-family: "PoppinsBold";
}
span.indexing-full {
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  font-size: 25px;
}
.fade {
  animation-name: fade;
  animation-duration: 500ms;
}
@keyframes fade {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.fade-scale {
  animation-name: fade-scale;
  animation-duration: 300ms;
}
@keyframes fade-scale {
  0% {
    opacity: 0.5;
    transform: scale(1.15);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* RESPONSIVE */
@media (max-width: 1100px) {
  .section {
    padding: 125px 10%;
  }
  .grid.col.col-3.grid-res {
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 900px) {
  .testimony .testy-grid p#quote {
    font-size: 25px;
  }
}
@media (max-width: 750px) {
  .testimony .testy-grid {
    grid-template-columns: 150px auto;
  }
  .testimony .testy-grid img {
    height: 150px;
    width: 150px;
  }
}
@media (max-width: 700px) {
  .section {
    padding: 125px 25px;
  }
  .section.section-wider {
    padding: 125px 25px;
  }
}
@media (max-width: 600px) {
  .grid.col.col-2.grid-res {
    grid-template-columns: auto;
  }
  .grid.col.col-3.grid-res {
    grid-template-columns: auto;
  }
  .testimony .testy-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .testimony .testy-grid img {
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
  }
  .testimony .testy-grid .flex.flex-left {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 32px;
  }
}
@media (max-width: 450px) {
  .testimony .testy-grid img {
    width: 175px;
    height: 175px;
  }
  .testimony .testy-grid p#quote {
    font-size: 20px;
  }
}
